{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load widget_tweaks %}

{% include 'partials/_title_first_model.html' %}


<div class="col-lg-6 mb-5 mb-lg-0">
    <div class="row">
        <div class="col-12">
            <div class="section-heading text-center">
                <h6>You're logged!</h6>
                <hr />
                <a href="{% url 'logout' %}" class="btn btn-danger" role="button" aria-pressed="true">Logout</a>
                <a href="{% url 'change_password' %}" class="btn btn-warning" role="button" aria-pressed="true">Change
                    Password</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}