asgiref==3.5.2
autopep8==1.7.0
distlib==0.3.6
Django==4.1.1
django-widget-tweaks==1.4.12
filelock==3.8.0
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3      
pycodestyle==2.9.1
python-dotenv==0.21.0
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.2
virtualenv==20.16.5