{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load widget_tweaks %}

{% include 'partials/_title_second_model.html' %}


<div class="card my-5">
    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <h6>Password reset complete</h6>
                <hr />
            </div>
        </div>
        <p id="reset-sent" class="text-center">Your password has been set. You may go ahead and log in now.</p>
        <div class="text-center">
            <p><a href="{% url 'login' %}"><strong>Login</strong></a></p>
        </div>
    </div>
</div>


{% endblock %}