{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load widget_tweaks %}

{% include 'partials/_title_second_model.html' %}


<div class="card my-5">
    <div class="card-body">
        <div class="container">
            <div class="text-center">
                <h6>Password reset sent</h6>
                <hr />
            </div>
        </div>
        <p id="reset-sent" class="text-center">We’ve emailed you instructions for setting your
            password, if an account exists with the email you entered. You should receive them shortly.
    </div>
    <div class="text-center">
        <p>Are a member? <a href="{% url 'login' %}"><strong>Login</strong></a></p>
    </div>
</div>


{% endblock %}