@import url('http://fonts.cdnfonts.com/css/montserrat');

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: hsl(0, 0%, 96%);
}

.form input {
    border: none;
}

#forgot-password {
    color: hsl(217, 10%, 50.8%);
    font-size: 13px;
}

#send-email-instruction {
    color: hsl(217, 10%, 50.8%);
    font-size: 13px;
}

#reset-sent {
    color: rgb(120, 125, 133);
    font-size: 15px;
}