{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load widget_tweaks %}

{% include 'partials/_title_second_model.html' %}


<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h6>Login</h6>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="form">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    <section class="row form-outline mb-3">
                        <div class="label-float col-12 col-lg-12">
                            {{ form.email.label }}
                            {% render_field form.email class="form-control mb-3"%}
                        </div>
                        <div class="label-float col-12 col-lg-12">
                            {{ form.password.label }}
                            {% render_field form.password class="form-control mb-3"%}
                        </div>
                    </section>

                    {% include 'partials/_alert.html' %}

                    <p id="forgot-password" class="text-right">Forgot your password? Recover <a
                            href="{% url 'reset_password' %}"><strong>here</strong></a>!</p>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

                    <div class="text-center">
                        <p>Not are a member? <a href="{% url 'signup' %}"><strong>Sign Up</strong></a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}